.square {
    height: 30px;
    width: 30px;
    border-left: 2px solid black;
    border-top: 2px solid black;
}

#grid {
    display: flex;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

body {
    display: flex;
    justify-content: center;
}